@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,700,700i|Roboto');

@import './globals';

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', 'Avenir', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'IBM Plex Sans', sans-serif;
}