@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,700,700i|Roboto');

@import './helpers/globals';
@import './helpers/typography';

@import './theme';
@include build-globals($theme);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', 'Avenir', Helvetica, sans-serif;
  @include fluid-type(12px, 15px);

  min-width: var(--screen-mobile-sm);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.--content {
  max-width: var(--screen-desktop);
  margin: 0 auto;
}