$screen: (
  desktop-lg: 1300px,
  desktop: 1024px,
  tablet: 768px,
  mobile: 425px,
  mobile-sm: 320px,
);

$color: (
  blue: #300CE8,
  white: #F3F3F3,
);

$theme: (
  screen: $screen,
  color: $color,
);
