@import '../../../styles/site.scss';

.NavBar {
  padding: 1rem 1rem;
  background-color: var(--color-blue);
  color: var(--color-white);

  &--text-shadow {
    text-shadow: 1px 1px 0px rgba(0, 30, 0, 0.4);
  }

  &__container {
    @extend .--content;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    a {
      font-weight: bold;
      font-size: 2rem;
      font-style: italic;
      text-decoration: none;

      &:active,
      &:visited,
      &:link {
        color: var(--color-white);
      }
    }
  }

  &__links {
    display: flex;

    a {
      margin-left: 1.5rem;
      text-decoration: none;
      border-color: transparent;
      display: block;

      &:after {
        content: " ";
        display: block;
        transition: all 0.3s ease-in-out;
        background: rgba(255, 255, 255, 0);
        width: 0px;
      }

      &.active {
        &:after {
          height: 1px;
          width: 100%;
          background: rgba(255, 255, 255, 0.9);
        }
      }

      &:active,
      &:visited,
      &:link {
        color: var(--color-white);
      }
    }
  }
}